body,html,#app{
  margin:0;
  padding:0;
  height:100%;
}
.el-breadcrumb{
  margin-bottom:10px;
  font-size:13px;
}
.el-card /deep/ {
  box-shadow: 0 1px 1px black;
}
.el-table{
  margin-top: 15px ;
}